<div class="sidebar-wrap">
  <div class="sidenav">
    <div class="brand">
      <div class="logo">Timora</div>
      <div class="subtitle">Intranet & Vacation planner</div>
    </div>
    <mat-nav-list class="nav">
      <a mat-list-item routerLink="/dashboard"><mat-icon matListItemIcon>dashboard</mat-icon><span matListItemTitle>Dashboard</span></a>
      <a mat-list-item href="#"><mat-icon matListItemIcon>event</mat-icon><span matListItemTitle>Calendar</span></a>
      <a mat-list-item routerLink="/announcements"><mat-icon matListItemIcon>campaign</mat-icon><span matListItemTitle>Announcements</span></a>
      <a mat-list-item href="#"><mat-icon matListItemIcon>call</mat-icon><span matListItemTitle>Contact</span></a>
      <a mat-list-item href="#"><mat-icon matListItemIcon>description</mat-icon><span matListItemTitle>Documents</span></a>
      <a mat-list-item href="#"><mat-icon matListItemIcon>groups</mat-icon><span matListItemTitle>About us</span></a>
      <a mat-list-item href="#"><mat-icon matListItemIcon>help_outline</mat-icon><span matListItemTitle>FAQ</span></a>
    </mat-nav-list>
  </div>
</div>
